body {
	font-family: 'Lato', sans-serif;
}

.App {
	position: relative;
}

li {
	list-style-type: none;
}

.transition {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
button {
	@extend .transition;
	border: 2px solid $tan-grey;
	color: $tan-grey;
	border-radius: 5px;
	padding: 5px 30px;
	&:focus {
		outline: 0;
	}
	&:hover {
		border: 2px solid #000 !important;
		background-color: #000 !important;
	};
}