header {
	background-color: $blue !important;
	height: 45px;
	width: 100%;
    position: fixed;
    top: 0;
    left: 0;
	.logo {
		width: 20px;
	}
}
a {
	color: #fff !important;
	&.here {
		text-decoration: underline;
	}
}
.navbar-brand {
	position: absolute;
	top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
	left: 15px;
}
.shop-link {
	position: absolute;
	top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
	left: 110px;
}
.cart-link {
	position: absolute;
	top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
	right: 15px;
	.item-count {
		width: 20px;
		height: 20px;
		background: #fff;
		display: block;
		float: right;
		margin-left: 5px;
		color: $blue;
		text-align: center;
	}
}