header {
	background-color: $blue !important;

	.logo {
		width: 20px;
	}
}
a {
	color: #fff !important;
}

.cart {
	float: right;
	.item-count {
		width: 20px;
		height: 20px;
		background: #fff;
		display: block;
		float: right;
		margin-left: 5px;
		color: $blue;
		text-align: center;
	}
}