
/* Font Weights */
$light: 300;
$regular: 400;

/* Colors */
$blue: #0b00d0;
$tan-grey: #c6b3b3;
$dark-grey: #4a4a4a;
$grey: #979797;

/* Media Queries */

/* Small devices (phones <768px, tablets >=768px) */
$break-small: 768px; 

/* Medium devices (desktops >=992px) */
$break-medium: 992px;

/* Large devices (large desktops >=1200px) */
$break-large: 1200px;

