/* Font Weights */
/* Colors */
/* Media Queries */
/* Small devices (phones <768px, tablets >=768px) */
/* Medium devices (desktops >=992px) */
/* Large devices (large desktops >=1200px) */
body {
  font-family: 'Lato', sans-serif; }

.App {
  position: relative; }

li {
  list-style-type: none; }

.transition, button, #products-page .one-item, #products-page .one-item .product-image {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

button {
  border: 2px solid #979797;
  color: #4a4a4a;
  border-radius: 5px;
  padding: 5px 30px;
  font-weight: 300; }
  button:focus {
    outline: 0; }
  button:hover {
    border: 2px solid #000 !important;
    background-color: #000 !important; }

header {
  background-color: #0b00d0 !important;
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }
  header .logo {
    width: 20px;
    position: absolute;
    top: 10px;
    left: 0px; }

a {
  color: #fff !important; }
  a.here {
    text-decoration: underline !important; }

.navbar-brand {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 15px; }
  .navbar-brand span {
    margin-left: 25px; }

.shop-link {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 110px; }

.cart-link {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px; }
  .cart-link .item-count {
    width: 20px;
    height: 20px;
    background: #fff;
    display: block;
    float: right;
    margin-left: 5px;
    color: #0b00d0;
    text-align: center; }

#products-page {
  padding-top: 60px; }
  #products-page h2 {
    color: #4a4a4a;
    padding-bottom: 15px; }
  #products-page .one-item {
    border-radius: 7px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    border: 2px solid #c6b3b3;
    float: left;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden; }
    @media (min-width: 992px) {
      #products-page .one-item {
        margin-right: 1%;
        width: 24%; }
        #products-page .one-item:nth-of-type(4n) {
          margin-right: 0 !important; } }
    @media (min-width: 768px) and (max-width: 992px) {
      #products-page .one-item {
        width: 49%;
        margin-right: 2%; }
        #products-page .one-item:nth-of-type(2n) {
          margin-right: 0; } }
    @media (max-width: 768px) {
      #products-page .one-item {
        width: 100%; } }
    #products-page .one-item:hover {
      border: 2px solid #0b00d0; }
    #products-page .one-item .img-wrapper {
      position: relative;
      overflow: hidden; }
    #products-page .one-item .product-image {
      width: 100%; }
      #products-page .one-item .product-image:hover {
        -ms-transform: scale(2);
        -webkit-transform: scale(2);
        transform: scale(2); }
    #products-page .one-item .name, #products-page .one-item .price {
      color: #979797; }
    #products-page .one-item .name {
      font-weight: 300;
      padding-top: 20px;
      margin-bottom: 0; }
    #products-page .one-item .price {
      font-size: 20px;
      margin-bottom: 5px; }
    #products-page .one-item button {
      margin-bottom: 20px; }
      #products-page .one-item button:hover {
        color: #fff; }

#shopping-cart {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  overflow: scroll; }
  #shopping-cart.hidden {
    display: none; }
  #shopping-cart h2, #shopping-cart p {
    color: #4a4a4a; }
  #shopping-cart .cart-items {
    max-width: 300px !important;
    padding: 0 30px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 500px;
    width: 100%;
    margin: auto;
    text-align: center; }
    #shopping-cart .cart-items .items li {
      margin-bottom: 25px;
      position: relative; }
    #shopping-cart .cart-items a {
      background-color: grey;
      border-radius: 50%;
      padding: 5px; }
    #shopping-cart .cart-items .name, #shopping-cart .cart-items .price {
      text-align: right; }
    #shopping-cart .cart-items .name {
      font-size: 13px;
      margin-bottom: 0; }
    #shopping-cart .cart-items .price {
      font-size: 18px; }
    #shopping-cart .cart-items .btn-close {
      width: 15px;
      height: 15px;
      display: block;
      background: url("./images/btn-close.png") no-repeat center center;
      background-size: contain;
      position: absolute;
      right: -18px;
      top: 0; }
  #shopping-cart .cropped-product-image {
    border: 2px solid #979797;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    float: left; }
  #shopping-cart .total-price {
    font-size: 20px;
    position: relative;
    padding-top: 20px;
    margin-bottom: 40px; }
    #shopping-cart .total-price:before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #4a4a4a;
      display: block;
      position: absolute;
      top: 0;
      left: 0; }
  #shopping-cart button {
    margin-bottom: 100px; }
    #shopping-cart button:hover {
      background-color: #0b00d0;
      color: #fff; }
